{% extends 'index.html.twig' %} 

{% block content %}

    <div id="allFilesPage">
    
        <input type="email" name="mail" id="mail" placeholder="Enter your email to find your files" />
        <button id="btnSearch">
            Search
        </button>

        <div id="result">

        </div>

    </div>

{% endblock %}