{% extends 'index.html.twig' %} 

{% block content %}
	<section class="result container-fluid d-flex flex-column align-items-center justify-content-center" >
		<h2>Download page</h2>

		<a href="{{url}}"><button type="button" class="mb-5 btn btn-outline-success">Télécharger le fichier</button></a>

		<a href="{{baseurl}}"><button type="button" class="mb-5 btn btn-outline-primary">Aller à la page d'accueil</button></a>
	</section>
{% endblock %}