{% extends 'index.html.twig' %} 

{% block content %}
    <section class="result container-fluid d-flex flex-column align-items-center justify-content-center" >
        <h2>Success</h2>

        <a href="{{url}}"><button type="button" class="btn btn-outline-success">Lien vers la page de Téléchargement</button></a>

        <h3>Contenu de l'envoi </h3>

{% for file in files %}
    <a href="{{file}}" class="mb-5"> fichier {{loop.index}} </a>
{% endfor %}

        <a href="{{baseurl}}"><button type="button" class="mb-2 btn btn-outline-primary">Revenir à la page D'acceuil</button></a>        

    </section>


{% endblock %}